<div class="file-uploader">
  <div class="file-uploader-container">
    <div
      class="file-uploader-select"
      (drop)="onFileDrop($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
    >
      <p class="drop-text">Drop files here or browse to upload.</p>
      <button class="browse-button" (click)="browseFiles()">browse</button>
      <input
        id="file-input"
        type="file"
        class="file-input"
        (change)="onFileSelected($event)" multiple
      />
    </div>
    <div *ngIf="filesMode" class="file-uploader-content">
      <div *ngFor="let file of filesInfo" class="file-info">{{ file.name }}</div>
    </div>
  </div>
</div>
