<div class="flex">
    <div class="relative">
        <span
            class="absolute -top-5 right-0 bg-lime-100 text-lime-700 rounded-2xl text-sm font-semibold px-2 py-1 inline-block z-50"
            >{{ count() }}</span
        >
        <span
            class="absolute -top-5 left-0 bg-orange-100 text-orange-700 rounded-2xl text-sm font-semibold px-2 py-1 inline-block z-50"
            >{{ doubleCount() }}</span
        >

        <a
            class="border-blue-100 bg-blue-500 hover:bg-blue-700 px-3 py-2 ring-2 ring-blue-500 rounded select-none capitalize text-white cursor-pointer"
            (click)="increment()"
            >increment</a
        >
    </div>
</div>
