<form [formGroup]="formGroup">
  <!-- file uploader component -->
  <app-file-uploader formControlName="files"></app-file-uploader>

  <!-- view child component -->
  <app-view-child></app-view-child>

  <!-- content child component -->
  <app-content-child>
    <div>
      <span #contentChild>contentChild</span>
    </div>
    <appChild color="black"></appChild>
    <appChild color="brown"></appChild>
  </app-content-child>
</form>

<!-- component-holder -->
<app-component-holder></app-component-holder>

<!-- ng template -->
<app-ng-template></app-ng-template>

<!-- tree node -->
<app-tree-node [node]="node"></app-tree-node>

<!-- ng model -->
<app-ng-model [(myProp)]="myPropValue"></app-ng-model>
<div>{{ myPropValue }}</div>

<!-- image gallery -->
<app-image-list-gallery [images]="images"></app-image-list-gallery>

