<ng-container *ngIf="false; else templateA">
  <div><span>true</span></div>
</ng-container>
<hr />
<ng-container *ngTemplateOutlet="greet"></ng-container>
<hr />
<ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
<hr />
<ng-container *ngTemplateOutlet="svk; context: myContext"></ng-container>
<hr />
<ng-template #templateA><span>templateA</span></ng-template>
<ng-template #templateB><span>templateB</span></ng-template>
<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name
  ><span>Hello {{ name }}!</span></ng-template
>
<ng-template #svk let-person="localSk"
  ><span>Ahoj {{ person }}!</span></ng-template
>
